.container {
  width: 300px; 
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto; 
  margin-bottom: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-heading, .temperature-heading {
  font-family: 'Bangers', cursive;
  color:antiquewhite; 
  font-size: 1.5rem; 
}

.zip-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.get-temp-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.temperature-container {
  margin-top: 20px; 
}
