
.html {
  scroll-behavior: somooth;
}
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.Carneala {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Carneala h3 {
  margin-top:5%;
  margin-bottom: 0%;
}

.Carneala h2 {
  margin-top: 0%;
}

.typewrite {
  display: flex;
  justify-content: center;
}

.Main-container-1 {
  display: flex; /* Use Flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
  padding: auto;

}
.section-header {
  display: flex;
  justify-content: center;
  font-size: 24px; /* Adjust the font size as needed */
  color:antiquewhite; 
  margin-bottom: -10%;
  margin-right: -40%;
  font-family: 'Bangers', cursive;
}

.About-me-container 
.About-me
{
  margin-right: 5%;
  flex-grow: 1;
  top: 50px; /* Adjust the top position as needed */
  left: 50px; /* Adjust the left position as needed */
  padding: 20px; /* Add padding for content */
}

.About-me{
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  width:350px;
  font-size: 18px;
}



.my-image-container {
  display: flex;
  justify-content: flex-start;
  height: 500px;
  margin-right: 15%;
  margin-left: 5%;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

} 

.section-header-skills 
 {
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
  font-size: 24px; /* Adjust the font size as needed */
  color:antiquewhite; 
  text-align: center;
  margin-top: -4%;
}

.Experience-container {
  display: flex;
  /* background-color: rgb(3, 8, 12); */
  justify-content: center; 
  align-items: center;
  
}
.square-container {
  display: flex;
  justify-content: center;
  margin-left: -5%;
}

.square, .square-2, .square-3 {
  height: 120px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  border: solid green;
  margin: 2%;
  border:1px solid green;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.lower-text {
  margin-top: 30px; /* Adjust the margin to control the vertical position */
}



.backend-table, 
.frontend-table

{
  background-color: black;
  width: 400px;
  border: 1px solid green;
  padding: 10px;
  margin: 20px;
  text-align: center;
  border:1px solid green;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.b1 {
  list-style-image: url(../../../public/icons8-coding-16.png);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}



.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  text-align: center;
 
}

.li {
  vertical-align: middle;
  display: inline-block; /* Display list items in a row */
  margin: 5px; /* Adjust the margin between list items */
  list-style-image: url(../../../public/icons8-coding-16.png);
}

.portfolio-header {
  display: flex;
  justify-content: center;
  font-family: 'Bangers', cursive;
  font-size: 24px; /* Adjust the font size as needed */
  color:antiquewhite; 
  text-align: center;
}

.Portfolio-Container
{
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   */
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 10px; 
text-align: center;

}

.portfolio-2,
.portfolio-4
 {
  background-color: antiquewhite; 
  width: 450px;
  height: 400px;

}
 
.portfolio-1,
.portfolio-3 {
  background-color: antiquewhite; 
  width: 450px;
  height: 400px;
  margin-left: 275px;
}









